<main class="main">
    <section class="wrapper">
        <section class="wrapper__header">
            <div>
                <h2 class="wrapper__title">Recepción</h2>
                <p class="wrapper__desc">Ordenes pendientes de recepción en taller</p>
            </div>
        </section>

        <section class="wrapper__body">
            <table class="table table--order">
                <thead class="table__head">
                    <tr class="table__row-head">
                        <th class="table__cell table__cell--fit"></th>
                        <th class="table__cell">N° orden</th>
                        <th class="table__cell">Cliente</th>
                        <th class="table__cell">Falla</th>
                        <th class="table__cell">Creación</th>
                        <th class="table__cell">Estado</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <% orders.forEach((order)=> { %>
                        <tr class="table__row">
                            <td class="table__cell">
                                <input type="checkbox" name="" id="">
                            </td>
                            <td class="table__cell">
                                <a href="/order/<%= order.id %>" class="link link--table">
                                    <%= order.ticket %>
                                </a>
                            </td>
                            <td class="table__cell">
                                <a href="/customer/<%= order.customer.id %>" class="link">
                                    <%= order.customer.name %> <%= order.customer.lastname %>
                                </a>
                            </td>
                            <td class="table__cell">
                                <%= order.failure %>
                            </td>
                            <td class="table__cell">
                                <%= order.created_at %>
                            </td>
                            <td class="table__cell">
                                <%= order.status %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </section>
    </section>
    <section class="wrapper">
        <section class="wrapper__header">
            <div>
                <h2 class="wrapper__title">Recepción</h2>
                <p class="wrapper__desc">Ordenes pendientes de recepción en taller</p>
            </div>
        </section>

        <section class="wrapper__body">
            <table class="table table--order">
                <thead class="table__head">
                    <tr class="table__row-head">
                        <th class="table__cell table__cell--fit"></th>
                        <th class="table__cell">N° orden</th>
                        <th class="table__cell">Cliente</th>
                        <th class="table__cell">Falla</th>
                        <th class="table__cell">Creación</th>
                        <th class="table__cell">Estado</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <% orders.forEach((order)=> { %>
                        <tr class="table__row">
                            <td class="table__cell">
                                <input type="checkbox" name="" id="">
                            </td>
                            <td class="table__cell">
                                <a href="/order/<%= order.id %>" class="link link--table">
                                    <%= order.ticket %>
                                </a>
                            </td>
                            <td class="table__cell">
                                <a href="/customer/<%= order.customer.id %>" class="link">
                                    <%= order.customer.name %> <%= order.customer.lastname %>
                                </a>
                            </td>
                            <td class="table__cell">
                                <%= order.failure %>
                            </td>
                            <td class="table__cell">
                                <%= order.created_at %>
                            </td>
                            <td class="table__cell">
                                <%= order.status %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </section>
    </section>

</main>