<main class="main">
    <main class="container container--box">

        <section class="wrapper">
            <section class="wrapper__header">
                <div>
                    <h2 class="wrapper__title">Autorizar retiro</h2>
                    <p class="wrapper__desc">Ingrese/Actualize los datos de la persona que retirará la orden</p>
                </div>
            </section>
            <section class="wrapper__body">
                <form class="wrapper__group wrapper__group--box" action="/order/<%= oid %>/auth" method="POST" id="form">

                    <div class="item">
                        <label for="auth_name" class="label">Nombre</label>
                        <input type="text" name="auth_name" id="auth_name" class="input-text" value="<%= auth.name %>" required>
                    </div>
                    <div class="item">
                        <label for="auth_lastname" class="label">Apellido</label>
                        <input type="text" name="auth_lastname" id="auth_lastname" class="input-text" value="<%= auth.lastname %>" required>
                    </div>
                    <div class="item">
                        <label for="auth_dni" class="label">DNI</label>
                        <input type="text" name="auth_dni" id="auth_dni" class="input-text" value="<%= auth.dni %>" required>
                    </div>

                    <div class="item item--inline">
                        <input type="checkbox" name="auth" id="auth" <%= auth.auth ? "checked" : '' %>>
                        <label for="auth" class="label">Se autoriza retiro</label>
                    </div>

                    <div class="wrapper__item wrapper__item--inline">
                        <a href="/order/<%= oid %>" class="btn btn--gray btn--full">Cancelar</a>
                        <button class="btn btn--full" type="submit">Aceptar</button>
                    </div>
                </form>
            </section>
        </section>
    </main>
</main>