<main class="main">
    <section class="main__header">
        <div class="header__text-container">
            <h1 class="wrapper__title">Orden #<%= order.ticket %></h1>
            <p class="wrapper__desc">Detalles de la orden</p>
        </div>
    </section>
    <section class="container container-2-1">
        <section class="container container-l">
            <% if (warranty.is_warranty) { %>
                <section class="wrapper wrapper--alert">
                    <span>Garantia de reparación N° orden: <a href="<%= warranty.main_id %>" class="link"><%= warranty.main_ticket %></a></span>
                </section>
            <%}%>
            <section class="wrapper">
                <section class="wrapper__header">
                        <h2 class="wrapper__subtitle">Datos cliente</h2>
                </section>
                <section class="wrapper__body">
                    <div class="wrapper__row wrapper__row--3">

                        <div class="item">
                            <span class="item__key">Nombre y apellido</span>
                            <span class="item__value">
                                <a href="/customer/<%= customer.id %>" class="link"> <%= customer.name %> <%= customer.lastname %> </a>
                            </span>
                        </div>
                        <div class="item">
                            <span class="item__key">DNI</span>
                            <span class="item__value">
                                <%= customer.dni %>
                            </span>
                        </div>
                    </div>
                    <div class="wrapper__row wrapper__row--3">

                        <div class="item">
                            <span class="item__key">Teléfono</span>
                            <span class="item__value">
                                <%= customer.tel %>
                            </span>
                        </div>
                        <div class="item">
                            <span class="item__key">Teléfono alternativo</span>
                            <span class="item__value">
                                <%= customer.tel %>
                            </span>
                        </div>
                        <div class="item">
                            <span class="item__key">Correo</span>
                            <span class="item__value">
                                <%= customer.email %>
                            </span>
                        </div>
                    </div>
                </section>
            </section>
            <section class="wrapper">
                <section class="wrapper__header">
                    <h2 class="wrapper__subtitle">Autorizacion de retiro</h2>
                </section>
                <section class="wrapper__body">
                    <div class="wrapper__row wrapper__row--3">

                        <div class="item">
                            <p class="item__key">Persona autorizada</p>
                            <p class="item__value">Juan Perez Sosa</p>
                        </div>
                        <div class="item">
                            <p class="item__key">DNI</p>
                            <p class="item__value">35.123.123</p>
                        </div>
                        <div class="item">
                            <p class="item__key">Fecha autorizacion</p>
                            <p class="item__value">26/03/92, 10:22hs</p>
                        </div>
                    </div>
                </section>
            </section>
            <section class="wrapper">
                <section class="wrapper__header">
                    <h2 class="wrapper__subtitle">Datos orden</h2>
                </section>
                <section class="wrapper__main">
                    <section class="wrapper__body">
                        <div class="wrapper__row wrapper__row--3">
                            <div class="item">
                                <p class="item__key">Marca</p>
                                <p class="item__value"><%= order.device.brand %></p>
                            </div>
                            <div class="item">
                                <p class="item__key">Modelo</p>
                                <p class="item__value"><%= order.device.model %></p>
                            </div>
                            <div class="item">
                                <p class="item__key">Otro</p>
                                <p class="item__value"><%= order.device.other %></p>
                            </div>
                        </div>
                        <div class="item">
                            <p class="item__key">IMEI</p>
                            <p class="item__value"><%= order.imei %></p>
                        </div>
                        <div class="wrapper__row wrapper__row--2">
                            <div class="item">
                                <p class="item__key">Contraseña / PIN</p>
                                <p class="item__value"><%= order.pin %></p>
                            </div>
                        </div>
                        <div class="item">
                            <p class="item__key">Falla del equipo</p>
                            <p class="item__value"><%= order.failure %></p>
                        </div>
                        <div class="item">
                            <p class="item__key">Observacion recepción</p>
                            <p class="item__value"><%= order.comment.atc %></p>
                        </div>
                        <div class="item">
                            <p class="item__key">Observacion taller</p>
                            <p class="item__value"><%= order.comment.tec %></p>
                        </div>
                        <div class="item">
                            <p class="item__key">Observacion adicional</p>
                            <p class="item__value"><%= order.comment.extra %></p>
                        </div>

                    </section>

                </section>
            </section>

            <section class="wrapper">
                <section class="wrapper__header">
                    <h2 class="wrapper__subtitle">Presupuesto</h2>
                </section>
                <section class="wrapper__body">
                    <div class="wrapper__row wrapper__row--auto">
                        <div class="item">
                            <p class="item__key">Costo</p>
                            <p class="item__value">$<%= order.budget.budget %></p>
                        </div>
                        <div class="item">
                            <p class="item__key">Pago adelantado</p>
                            <p class="item__value"><%= order.budget.prepaid %></p>
                        </div>
                        <div class="item">
                            <p class="item__key">Metodo de pago</p>
                            <p class="item__value"><%= order.budget.payment_method %></p>
                        </div>
                    </div>
                        <div class="item">
                        <p class="item__key">Detalle presupuesto</p>
                        <p class="item__value"><%= order.budget.comment %></p>
                    </div>
                </section>
            </section>

            <section class="wrapper">
                <section class="wrapper__header">
                    <h2 class="wrapper__subtitle">Fotos evidencia</h2>
                </section>
                <section class="wrapper__body">
                    <div class="wrapper__img-container">
                        <article class="img-container"><img src="/img/no-image.jpg" alt="" srcset=""></article>
                        <article class="img-container"><img src="/img/no-image.jpg" alt="" srcset=""></article>
                        <article class="img-container"><img src="/img/no-image.jpg" alt="" srcset=""></article>
                        <article class="img-container"><img src="/img/no-image.jpg" alt="" srcset=""></article>
                    </div>
                </section>
            </section>

            
        </section>

        <!-- Panel derecha -->
        <section class="container container-r">
            <section class="wrapper">
                <section class="wrapper__header">
                    <h2 class="wrapper__subtitle">Estados</h2>
                </section>
                <form id="form" class="wrapper__body" action="/order/<%= order.id %>/status" method="post">
                    <% lastStatus.next.forEach(s => {%>
                        <label class="label--checkbox" for="<%= s.id %>">
                            <input type="radio" name="next_status" id="<%= s.id %>" value="<%= s.id %>">
                            <%= s.description %>
                        </label>
                    <%})%>
                    <button class="btn btn--status" type="submit">
                        <span>Avanzar estado</span>
                        <iconify-icon icon="tabler:arrow-big-right-lines"></iconify-icon>
                    </button>
                </form>
            </section>
            <section class="wrapper">
                <div class="wrapper__header">
                    <h2 class="wrapper__subtitle">Acciones</h2>
                </div>
                <nav class="">
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="#" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:printer"></iconify-icon>
                                <span>Imprimir orden</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="#" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:printer"></iconify-icon>
                                <span>Imprimir ticket</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="#" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:file-type-pdf"></iconify-icon>
                                <span>Generar PDF</span>
                            </a>
                        </li>
                    </ul>
                    <div class="menu__line"></div>
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="#" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:brand-whatsapp"></iconify-icon>
                                <span>Enviar por WhatsApp</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="#" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:mail-up"></iconify-icon>
                                <span>Enviar por correo</span>
                            </a>
                        </li>
                    </ul>
                    <div class="menu__line"></div>

                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="#" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:message-cog"></iconify-icon>
                                <span>Observación taller</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="#" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:message-2-plus"></iconify-icon>
                                <span>Observación adicional</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="#" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:user-check"></iconify-icon>
                                <span>Autorizar retiro</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="/order/<%= order.id %>/edit" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:pencil"></iconify-icon>
                                <span>Modificar datos</span>
                            </a>
                        </li>
                    </ul>
                    <div class="menu__line"></div>
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="/order/new/warranty/<%= order.id %>" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:award"></iconify-icon>
                                <span>Garanta de reparacion</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu__ul">
                        <li class="menu__li">
                            <a id="menu_rol" href="#" class="menu__link" data-id="<%=  %>" data-route="user">
                                <iconify-icon icon="tabler:xbox-x"></iconify-icon>
                                <span>Eliminar orden</span>
                            </a>
                        </li>
                    </ul>

                </nav>
            </section>



            <section class="wrapper">
                <div class="wrapper__header">
                    <h2 class="wrapper__subtitle">Historial de estados</h2>
                </div>
                <div class="wrapper__body">
                    <ul class="sh__ul">
                        <% statusHistory.forEach((status, i) => { %>
                            <li class="sh__li">
                                <div class="sh__img">
                                    <div class="sh__img-line <%= i == 0 ? 'sh__img-line--last' : '' %> "></div>
                                </div>
                                <div class="sh__content">
                                    <p class="sh__status"><%= status.description %></p>
                                    <p class="sh__date"><%= status.created %></p>
                                    <p class="sh__author">
                                        <a class="link" href="/user/<%= status.user.id %>">
                                            <%= status.user.name %> <%= status.user.lastname %>
                                        </a>
                                    </p>
                                </div>
                            </li>
                        <% })%>
                    </ul>
                    
                </div>
            </section>

            

        </section>
    </section>
</main>